/*----------------------- global style ------------------------*/

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  --background-primary: rgb(255, 255, 255) !important;
  --background-secondary: rgb(255, 255, 255) !important;
}

/* reset CSS */
table {
  font-size: 100%;
}
/* end reset CSS */

body {
  font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}

/*----------------------- bar style ------------------------*/

.filetree-sidebar{
  background-image: none;
  background-color: #fff;
  font-size: 100%;
}

.filetree-sidebar h1 {
  font-size: 22px !important;
  color: #777;
}

.navbar {
  background-image: none;
  background-color: #fff;
  font-size: 100%;
}

.navbar-inner h1 {
  color: #777;
}

/*----------------------- content style ------------------------*/

.content P, li {
  line-height: 1.8;
}

.content H1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-bottom: 60px;
  margin-bottom: 40px;
  border-bottom: 2px LightGrey solid;
  width: 98%;
  line-height: 150%;
  color: #666666;
  font-size: 1.5em;
}

.content H2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px LightGrey solid;
  width: 98%;
  line-height: 150%;
  color: #666666;
  font-size: 1.25em;
}

.content H3 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px LightGrey solid;
  width: 98%;
  line-height: 150%;
  color: #666666;
  font-size: 1.15em;
}

.content H4 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px LightGrey solid;
  width: 98%;
  line-height: 150%;
  color: #666666;
  font-size: 1.08em;
}

.content li {
  margin-left: 10px;
}

.content blockquote {
  border-left: 5px lightgrey solid;
  padding-left: 15px;
  margin-left: 20px;
  background: #f4f4f4;
}

/* Table Style */
.content table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.content th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.content th {
  background-color: #f2f2f2;
}

.content tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Table Style */

.content a {
  text-decoration: none;
  cursor: crosshair;
  border-bottom: 1px dashed #2f6f9c;
  color: #2f6f9c;
}

.content a:hover {
  background-color: LightGrey;
}

.content img {
  display: block;
  box-shadow: 0 0 10px #555;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 10px #555;
  max-width: 100%;
}

.content img.displayed {
  text-align: center;
  display: block;
}

.content hr {
  color: LightGrey;
}

.content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.content p.notice {
  color: #AA4433;
  font-size: 14px;
}

.content pre {
  font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
  font-size: 80%;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 12px;
  line-height: 1.5;
  display: block;
  width: 100%;
  overflow: auto;
}

code[class*=language-], pre[class*=language-] {
  color: initial; /* 将颜色属性重置为默认值 */
  /* 其他样式属性 */
}

.content .token.comment { color: #888; font-weight: bold; } /* Comment */
.content .token.keyword { color: #cc7832; } /* Keyword */
.content .token.operator { color: #555 } /* Operator */
.content .token.punctuation { color: #333 } /* Punctuation */
.content .token.deleted { background-color: #fcc; border: 1px solid #c00 } /* Generic.Deleted */
.content .token.number  { color: #6897BB } /* Literal.Number */
.content .token.class-name { color: #000; } /* Name.Class */
.content .token.constant { color: #360 } /* Name.Constant */
.content .token.entity { color: #999; } /* Name.Entity */
.content .token.function { color: #182669 } /* Name.Function */
.content .token.namespace { color: #0cf; } /* Name.Namespace */
.content .token.variable { color: #033 } /* Name.Variable */
.content .token.doctype { color: #c30; font-style: italic } /* Literal.String.Doc */
.content .token.regex { color: #3aa } /* Literal.String.Regex */
.content .token.symbol { color: #fc3 } /* Literal.String.Symbol */
