/*----------------------- global style ------------------------*/

html {
  -webkit-text-size-adjust: none;
  --background-primary: rgb(255, 255, 255) !important;
  --background-secondary: rgb(255, 255, 255) !important;
}

body {
  font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
  font-size: 18px !important;
}

body.mobile {
  font-size: 32px;
}

* {
  box-sizing: border-box;
}

/*----------------------- bar style ------------------------*/

.filetree-sidebar{
  background-image: none;
  background-color: #fff;
  font-size: 100%;
}

.filetree-sidebar h1 {
  // font-size: 24px !important;
  color: #777;
}

.navbar {
  background-image: none;
  background-color: #fff;
  font-size: 100%;
}

.navbar-inner h1 {
  // font-size: 24px !important;
  color: #777;
}

/*----------------------- content style ------------------------*/

.content P, li {
  line-height: 1.8;
}

.content H1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-bottom: 60px;
  margin-bottom: 40px;
  border-bottom: 2px LightGrey solid;
  width: 98%;
  line-height: 150%;
  color: #666666;
}

.content H2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px LightGrey solid;
  width: 98%;
  line-height: 150%;
  color: #666666;
}

.content H3 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px LightGrey solid;
  width: 98%;
  line-height: 150%;
  color: #666666;
}

.content H4 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px LightGrey solid;
  width: 98%;
  line-height: 150%;
  color: #666666;
}

.content li {
  margin-left: 10px;
}

.content blockquote {
  border-left: 5px lightgrey solid;
  padding-left: 15px;
  margin-left: 20px;
  background: #f4f4f4;
}

/* Table Style */
.content table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.content th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.content th {
  background-color: #f2f2f2;
}

.content tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Responsive Table */
@media screen and (max-width: 600px) {
  .content table {
    overflow-x: auto;
    display: block;
  }
}

.content a {
  text-decoration: none;
  cursor: crosshair;
  border-bottom: 1px dashed #2f6f9c;
  color: #2f6f9c;
}

.content a:hover {
  background-color: LightGrey;
}

.content img {
  display: block;
  box-shadow: 0 0 10px #555;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 10px #555;
  max-width: 100%;
}

.content img.displayed {
  text-align: center;
  display: block;
}

.content hr {
  color: LightGrey;
}

.content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.content p.notice {
  color: #AA4433;
  font-size: 14px;
}

.content pre {
  font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
  font-size: 80%;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 12px;
  line-height: 1.5;
  display: block;
  width: 100%;
  overflow: auto;
}