body {
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
    font-size: 18px !important;
}

img {
    display: block !important;
    box-shadow: 0 0 10px #555 !important;
    border-radius: 6px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    -webkit-box-shadow: 0 0 10px #555 !important;
    max-width: 100% !important;
}

img.displayed {
    text-align: center !important;
    display: block !important;
}

@media only screen and (max-width: 800px) {
    img {
      width: 100%;
    }
}